.MesasSelect{
    margin-left: 455px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    text-align: center;
    margin: 5px;
}
.Board{
    margin: 40px;
    width: 1800px;
    height: 500px;
    border: 2px solid black;
}
.Button{
    background-color: white;
}
.Button:hover{
    background-color:#f5fffa;
}

